            </div>
          </div>
        </section>
<!-- __PRODUCT_SHELL_END__ -->
  </div>

  <script src="__VUE_JS__"></script>
  <script src="__HUI_JS__"></script>
<!-- __ICON_V2_RUNTIME__ -->
  <script>
    const PAGE_CONFIG = Object.freeze(/* __PAGE_CONFIG__ */ {});
    const PREVIEW_FIXTURES = Object.freeze(/* __PREVIEW_FIXTURES__ */ {});
    function cloneRuntimeValue(value) {
      return JSON.parse(JSON.stringify(value));
    }

    Vue.component('d2c-icon', {
      functional: true,
      props: { icon: { type: [String, Object], required: true } },
      render: function (createElement, context) {
        var icon = context.props.icon;
        var mode = typeof icon === 'string' ? 'font' : icon.mode;
        var name = typeof icon === 'string' ? icon : icon.name;
        if (mode === 'font') return createElement('i', { class: name, attrs: { 'aria-hidden': 'true' } });
        var component = createElement(name);
        if (mode === 'icon-v2') return createElement('h-icon', [component]);
        if (mode === 'business-svg') return createElement('h-svg-icon', [component]);
        return null;
      }
    });

    new Vue({
      el: '#app',
      data: function () {
        return {
          config: PAGE_CONFIG,
          sidebarCollapsed: !!(PAGE_CONFIG.portal && PAGE_CONFIG.portal.sidebar_collapsed),
          expandedSideMenus: [],
          activeIconMenu: '',
          expandedContextTreeNodeKeys: [],
          portalKeyword: '',
          frameworkSelectorKeyword: '',
          activeFrameworkTab: '',
          frameworkCardTabsIndicatorStyle: { width: '0px', transform: 'translate3d(0px, 0, 0)' },
          activeCardTab: '',
          activeTableTab: '',
          treeKeyword: '',
          activeTreeNode: {},
          activeDetailTab: '',
          activeDetailSection: '',
          activeFormSection: '',
          activeFormTab: '',
          viewMode: 'table',
          schedulePresentation: 'table',
          scheduleView: 'month',
          scheduleCursor: '2026-08-17',
          formModel: {},
          filters: {},
          filterExpanded: true,
          collectionToolbarExpanded: false,
          collectionToolbarIncludeDescendants: true,
          collectionToolbarKeyword: '',
          collectionToolbarOrganization: '',
          collectionToolbarEffectiveDate: '',
          collectionToolbarView: 'list',
          collectionToolbarAdvancedFilters: {},
          collectionToolbarVisibleActionCount: 0,
          collectionToolbarResizeObserver: null,
          appliedFilters: {},
          selectedRows: [],
          selectedDetailRow: {},
          detailPaneVisible: false,
          detailDrawerVisible: false,
          currentPage: 1,
          pageSize: 20,
          rows: [],
          scheduleItems: [],
          total: 0,
          summaryMetrics: {}, activeSummaryMetric: '',
          cardTabRows: {},
          tableTabRows: {},
          fieldLibraryByTab: {},
          configuredFieldsByTab: {},
          fieldEditorVisible: false,
          fieldEditorMode: 'add',
          fieldEditorIndex: -1,
          fieldDraft: { name: '', key: '', type: '文本' },
          fieldPickerVisible: false,
          fieldToConfigure: '',
          detailValues: {},
          relatedTableRows: {},
          detailMedia: { src: '', thumbnails: [] }
        };
      },
      created: function () {
        this.loadPreviewFixtures();
        this.filterExpanded = (this.config.pattern_parameters || {}).collapse_mode === 'all-retractable';
        this.collectionToolbarExpanded = !!((this.config.collection_toolbar || {}).initial_filter_expanded && this.hasCollectionToolbarAdvancedFilters);
        this.collectionToolbarVisibleActionCount = (this.config.toolbar_actions || []).length;
      },
      mounted: function () {
        var vm = this;
        if (this.hasCollectionToolbar) {
          this.$nextTick(function () {
            vm.updateCollectionToolbarActions();
            if (window.ResizeObserver && vm.$refs.collectionToolbar) {
              vm.collectionToolbarResizeObserver = new window.ResizeObserver(vm.updateCollectionToolbarActions);
              vm.collectionToolbarResizeObserver.observe(vm.$refs.collectionToolbar);
            }
          });
          window.addEventListener('resize', this.updateCollectionToolbarActions);
        }
        if (this.config.framework && this.config.framework.show_top_tabs) {
          this.$nextTick(this.updateFrameworkCardTabsIndicator);
          window.addEventListener('resize', this.updateFrameworkCardTabsIndicator);
        }
      },
      beforeDestroy: function () {
        window.removeEventListener('resize', this.updateCollectionToolbarActions);
        window.removeEventListener('resize', this.updateFrameworkCardTabsIndicator);
        if (this.collectionToolbarResizeObserver) this.collectionToolbarResizeObserver.disconnect();
      },
      watch: {
        activeFrameworkTab: function () {
          this.$nextTick(this.updateFrameworkCardTabsIndicator);
        }
      },
      computed: {
        huiShellOpenMenus: function () { return (this.config.portal.side_menus || []).filter(function (item) { return item.children && item.children.length; }).map(function (item) { return item.id; }); },
        contextTreeDefaultExpandedKeys: function () { var menu=this.config.portal.context_menu || {}; return (menu.tree_nodes || []).filter(function (node) { return node.expanded !== false; }).map(function (node) { return node.id; }); },
        contextTreeCurrentNodeKey: function () {
          var menu=this.config.portal.context_menu || {}; var stack = (menu.tree_nodes || []).slice();
          while (stack.length) { var node = stack.shift(); if (node.active) return node.id; stack = stack.concat(node.children || []); }
          return '';
        },
        formSections: function () {
          return this.config.form_sections || [{ id: 'basic', title: '基础信息', fields: this.config.form_fields || [] }];
        },
        visibleFormSections: function () {
          var tabs = this.config.form_tabs || [];
          if (!tabs.length) return this.formSections;
          var active = tabs.filter(function (tab) { return tab.id === this.activeFormTab; }, this)[0] || tabs[0];
          var ids = active.section_ids || [];
          return this.formSections.filter(function (section) { return ids.indexOf(section.id) !== -1; });
        },
        formTabsInBreadcrumb: function () { return !!((this.config.form_tabs || []).length && (this.config.pattern_parameters || {}).page_tabs_placement === 'breadcrumb'); },
        isAnchoredForm: function () { return this.config.pattern_family === 'hui.tpp.family.form-anchored'; },
        isWorkOrderForm: function () {
          var parameters = this.config.pattern_parameters || {};
          return parameters.complexity === 'workflow' || (this.config.pattern_family === 'hui.tpp.family.form-stepped' && parameters.step_placement === 'left-sidebar');
        },
        formStepDirection: function () {
          var parameters = this.config.pattern_parameters || {};
          return parameters.step_placement === 'left-sidebar' ? 'vertical' : (parameters.steps_direction || 'horizontal');
        },
        isFirstLevelGroupedForm: function () { return this.config.pattern_family === 'hui.tpp.family.form-grouped' && (this.config.pattern_parameters || {}).group_depth === 1; },
        activeFormSectionIndex: function () {
          var ids = this.formSections.map(function (section) { return section.id; });
          var index = ids.indexOf(this.activeFormSection);
          return index < 0 ? 0 : index;
        },
        isAnchoredDetails: function () { return (this.config.pattern_family || '').indexOf('details-anchored') !== -1; },
        isTextImageDetails: function () { return (this.config.pattern_family || '').indexOf('details-text-image') !== -1; },
        isSimulationFile: function () { return (this.config.pattern_family || '').indexOf('details-simulation-file') !== -1; },
        isMasterDetail: function () { return (this.config.pattern_family || '').indexOf('details-master-detail') !== -1; },
        isParallelDetails: function () { return (this.config.pattern_family || '').indexOf('details-parallel') !== -1; },
        hasDetailsPageTabs: function () { return this.config.page_kind === 'details' && !!(this.config.detail_tabs || []).length; },
        detailsTabsInBreadcrumb: function () {
          var tabBar = (this.config.detail_page_policy || {}).tab_bar || {};
          return this.hasDetailsPageTabs && tabBar.placement === 'breadcrumb';
        },
        activeDetailsPageTab: function () {
          var vm = this;
          var tabs = this.config.detail_tabs || [];
          return tabs.filter(function (tab) { return tab.id === vm.activeDetailTab; })[0] || tabs[0] || {};
        },
        visibleDetailSections: function () {
          return this.hasDetailsPageTabs ? (this.activeDetailsPageTab.sections || []) : (this.config.detail_sections || []);
        },
        hasTableDetailsPane: function () { return this.config.page_kind === 'table' && !!(this.config.detail_tabs || []).length; },
        hasDetailDrawer: function () { return !!(this.config.detail_drawer && (this.config.detail_drawer.fields || []).length); },
        hasCardTree: function () { return this.config.page_kind === 'card-tabs' && !!(this.config.pattern_parameters || {}).tree; },
        hasTableTabs: function () { return this.config.page_kind === 'table' && this.config.pattern_family === 'hui.tpp.family.table-tabs'; },
        usesFrameworkTableTabs: function () {
          if (!this.hasTableTabs || !((this.config.framework || {}).show_top_tabs)) return false;
          var frameworkIds=((this.config.framework || {}).tabs || []).map(function (tab) { return tab.id; });
          var tableIds=(this.config.table_tabs || []).map(function (tab) { return tab.id; });
          return frameworkIds.length === tableIds.length && tableIds.every(function (id) { return frameworkIds.indexOf(id) !== -1; });
        },
        hasTableTree: function () { return this.hasTableTabs && !!(this.config.pattern_parameters || {}).tree; },
        isTableTabsSearch: function () { return this.hasTableTabs && !this.isRealtimeFilter && !this.hasCollectionToolbar && !!this.activeFilters.length; },
        isTableDetailsPane: function () { return this.hasTableDetailsPane && this.detailPaneVisible; },
        showMasterDetailsDivider: function () {
          var separators = (this.config.pattern_parameters || {}).separators || {};
          return !!separators.master_details || this.hasTableDetailsPane;
        },
        anchorHorizontal: function () { return (this.config.pattern_parameters || {}).anchor_position === 'sticky-top'; },
        showMasterSummary: function () { return (this.isMasterDetail || this.isParallelDetails) && (this.config.summary_fields || []).length; },
        showMasterMedia: function () { return this.isMasterDetail && !!this.config.media; },
        externalMasterMedia: function () { return this.showMasterMedia && (this.config.pattern_parameters || {}).master_workspace_relation === 'siblings'; },
        stretchMaster: function () { return (this.config.pattern_parameters || {}).master_cross_axis === 'stretch'; },
        separateMasterDetail: function () {
          var parameters = this.config.pattern_parameters || {};
          return parameters.layout_direction === 'horizontal' && parameters.container_relation === 'separate' && parameters.master_scroll === 'fixed' && parameters.detail_scroll === 'independent';
        },
        showPageSummary: function () { return this.isTextImageDetails && (this.config.pattern_parameters || {}).top_summary && (this.config.summary_fields || []).length; },
        showInlineSummary: function () { return !this.showMasterSummary && !this.showPageSummary && (this.config.summary_fields || []).length; },
        detailLayoutVertical: function () {
          var direction = (this.config.pattern_parameters || {}).layout_direction;
          return direction === 'vertical';
        },
        detailLayoutStyle: function () {
          var parameters = this.config.pattern_parameters || {};
          var anchorPolicy = (this.config.detail_page_policy || {}).anchor || {};
          return { gap: (anchorPolicy.content_gap_px || parameters.region_gap_px || 24) + 'px' };
        },
        detailMediaStyle: function () { return { flexBasis: ((this.config.pattern_parameters || {}).media_width_px || 1008) + 'px' }; },
        detailContentStyle: function () {
          var width = (this.config.pattern_parameters || {}).detail_panel_width_px;
          return width && this.isTextImageDetails ? { flex: '0 0 ' + width + 'px' } : {};
        },
        detailRowTotal: function () {
          var rows = this.relatedTableRows;
          return Object.keys(rows).reduce(function (total, key) { return total + rows[key].length; }, 0);
        },
        activeCardTabSpec: function () {
          var vm = this;
          var tab = (this.config.card_tabs || []).filter(function (item) { return item.id === vm.activeCardTab; })[0] || {};
          return Object.assign({}, tab, { rows: this.cardTabRows[tab.id] || [] });
        },
        activeCardProfile: function () {
          return (this.config.card_visual_profiles || {})[this.activeCardTabSpec.card_profile] || {};
        },
        cardTabType: function () {
          return this.config.card_tab_style === 'linear' ? undefined : this.config.card_tab_style;
        },
        tableTabType: function () { return (this.config.pattern_parameters || {}).tab_style === 'linear' ? undefined : 'card'; },
        hasFieldConfiguration: function () { return !!this.config.field_configuration; },
        activeFieldLibrary: function () { return this.fieldLibraryByTab[this.activeTableTab] || []; },
        activeConfiguredFields: function () { return this.configuredFieldsByTab[this.activeTableTab] || []; },
        availableFieldsForConfiguration: function () {
          var configuredIds=this.activeConfiguredFields.map(function (field) { return field.id; });
          return this.activeFieldLibrary.filter(function (field) { return configuredIds.indexOf(field.id) === -1; });
        },
        fieldEditorTitle: function () { return this.fieldEditorMode === 'edit' ? '编辑字段' : '添加字段'; },
        activeToolbarActions: function () { return (this.config.toolbar_actions || []).filter(this.appliesToActiveTableTab); },
        activeRowActions: function () { return (this.config.row_actions || []).filter(this.appliesToActiveTableTab); },
        activeSelectionAction: function () { return this.activeToolbarActions.filter(function (action) { return action.requires_selection; })[0] || null; },
        hasRowSelection: function () { return !!this.activeSelectionAction; },
        rowActionColumnWidth: function () { return Math.max(96, this.activeRowActions.length * 48 + 48); },
        hasScheduleCalendar: function () { return !!(this.config.schedule_view_modes || []).length; },
        collectionToolbarConfig: function () { return this.config.collection_toolbar || {}; },
        collectionToolbarVariant: function () { return this.collectionToolbarConfig.variant || {}; },
        hasCollectionToolbar: function () { return !!this.collectionToolbarVariant.id; },
        collectionToolbarCssVariables: function () {
          var style=this.collectionToolbarConfig.shared_visual_style || {};
          var box=this.collectionToolbarConfig.expanded_filter_box || {};
          var primaryColorToken=style.primary_color_token || '--h-color-brand';
          return {
            '--isc-collection-toolbar-control-height':style.control_height || '32px',
            '--isc-collection-toolbar-control-gap':style.control_gap || '8px',
            '--isc-collection-toolbar-primary':'var(' + primaryColorToken + ')',
            '--isc-collection-toolbar-border':style.toolbar_control_border || '#bbbfcf',
            '--isc-collection-toolbar-text':style.text_color || '#3d3f51',
            '--isc-collection-toolbar-filter-background':box.background || '#f0f2f8',
            '--isc-collection-toolbar-filter-selected-background':box.trigger_background || '#d3d7e3',
            '--isc-collection-toolbar-filter-selected-border':box.trigger_border || '#a5adc4'
          };
        },
        collectionToolbarUsesActions: function () { return this.collectionToolbarVariant.left_region === 'batch-actions'; },
        visibleCollectionToolbarActions: function () {
          var actions=this.activeToolbarActions;
          var count=Math.max(0,Math.min(Number(this.collectionToolbarVisibleActionCount),actions.length));
          return actions.slice(0,count);
        },
        overflowCollectionToolbarActions: function () {
          var actions=this.activeToolbarActions;
          return actions.slice(this.visibleCollectionToolbarActions.length);
        },
        collectionToolbarUsesStructuredQuery: function () { return this.collectionToolbarVariant.query_region === 'structured-query'; },
        collectionToolbarSummary: function () {
          return ((this.collectionToolbarConfig.regions || {})['summary-text'] || {}).example || '';
        },
        collectionToolbarKeywordPlaceholder: function () {
          var keywordField=this.activeFilters.filter(function (field) { return field.key === 'keyword'; })[0];
          if (keywordField && keywordField.placeholder) return keywordField.placeholder;
          var region=(this.collectionToolbarConfig.regions || {})[this.collectionToolbarVariant.query_region] || {};
          var control=(region.controls || []).filter(function (item) { return item.role === 'keyword-search'; })[0] || {};
          return control.placeholder || '请输入关键词';
        },
        collectionToolbarAdvancedFields: function () {
          var keys=((this.collectionToolbarConfig.expanded_filter_box || {}).field_keys || []);
          if (!this.hasTableTabs) return (this.config.filters || []).filter(function (field) { return keys.indexOf(field.key) !== -1; });
          return this.activeFilters.filter(function (field) { return keys.indexOf(field.key) !== -1; });
        },
        hasCollectionToolbarAdvancedFilters: function () { return this.collectionToolbarAdvancedFields.length > 0; },
        showPageToolbar: function () {
          return !!this.activeToolbarActions.length || this.isAllRetractableManualFilter || this.hasScheduleCalendar || this.config.page_kind === 'switch';
        },
        activeFilters: function () { return (this.config.filters || []).filter(this.appliesToActiveTableTab); },
        hasCollapsibleFilters: function () { return this.activeFilters.length > Number((this.config.filter_search_form_behavior || {}).collapse_threshold); },
        hasCollapsibleHorizontalFilters: function () { return this.activeFilters.length > 3; },
        isRealtimeFilter: function () { return (this.config.pattern_parameters || {}).trigger === 'realtime'; },
        isHorizontalRealtimeFilter: function () { var p=this.config.pattern_parameters || {}; return p.trigger==='realtime' && p.filter_placement==='horizontal-bar'; },
        isSidebarRealtimeFilter: function () { var p=this.config.pattern_parameters || {}; return p.trigger==='realtime' && p.filter_placement==='left-sidebar'; },
        isRegularManualFilter: function () { var p=this.config.pattern_parameters || {}; return (p.filter_placement==='regular-box' && p.trigger!=='realtime') || (this.config.pattern_family==='hui.tpp.family.table-details-pane' && (this.config.filters || []).length>0); },
        isHorizontalManualFilter: function () { var p=this.config.pattern_parameters || {}; return p.filter_placement==='horizontal-bar' && p.trigger!=='realtime'; },
        isSidebarManualFilter: function () { var p=this.config.pattern_parameters || {}; return p.filter_placement==='left-sidebar' && p.trigger==='manual'; },
        isAllRetractableManualFilter: function () { return (this.config.pattern_parameters || {}).collapse_mode==='all-retractable'; },
        selectedRealtimeFilters: function () {
          var vm = this;
          return this.activeFilters.map(function (field) {
            return { key: field.key, label: field.label, value: vm.filters[field.key] };
          }).filter(function (item) { return item.value && item.value !== '全部'; });
        },
        visibleFilters: function () { var count=Number((this.config.filter_search_form_behavior || {}).collapsed_visible_fields); var fields=this.hasTableTabs ? this.activeFilters : (this.config.filters || []); return this.hasCollapsibleFilters && !this.filterExpanded ? fields.slice(0, count) : fields; },
        visibleHorizontalFilters: function () { if (!this.hasTableTabs) return this.hasCollapsibleHorizontalFilters && !this.filterExpanded ? this.config.filters.slice(0, 3) : (this.config.filters || []); return this.hasCollapsibleHorizontalFilters && !this.filterExpanded ? this.activeFilters.slice(0, 3) : this.activeFilters; },
        weekDayNames: function () { return ['周一','周二','周三','周四','周五','周六','周日']; },
        scheduleRangeTitle: function () {
          var d = new Date(this.scheduleCursor + 'T00:00:00');
          if (this.scheduleView === 'day') return d.getFullYear() + '年' + (d.getMonth()+1) + '月' + d.getDate() + '日';
          if (this.scheduleView === 'week') {
            var start = new Date(d); start.setDate(d.getDate() - ((d.getDay()+6)%7));
            var end = new Date(start); end.setDate(start.getDate()+6);
            return (start.getMonth()+1) + '月' + start.getDate() + '日 - ' + (end.getMonth()+1) + '月' + end.getDate() + '日';
          }
          return d.getFullYear() + '年' + (d.getMonth()+1) + '月';
        },
        visibleScheduleDays: function () {
          var cursor = new Date(this.scheduleCursor + 'T00:00:00');
          var dates = [];
          if (this.scheduleView === 'day') dates = [new Date(cursor)];
          else if (this.scheduleView === 'week') {
            var weekStart = new Date(cursor); weekStart.setDate(cursor.getDate()-((cursor.getDay()+6)%7));
            for (var w=0; w<7; w++) { var wd=new Date(weekStart); wd.setDate(weekStart.getDate()+w); dates.push(wd); }
          } else {
            var monthStart = new Date(cursor.getFullYear(), cursor.getMonth(), 1);
            var gridStart = new Date(monthStart); gridStart.setDate(1-((monthStart.getDay()+6)%7));
            for (var m=0; m<42; m++) { var md=new Date(gridStart); md.setDate(gridStart.getDate()+m); dates.push(md); }
          }
          var vm=this, today='2026-08-17';
          return dates.map(function(d){
            var key=d.getFullYear()+'-'+String(d.getMonth()+1).padStart(2,'0')+'-'+String(d.getDate()).padStart(2,'0');
            return {date:key,dayLabel:d.getDate(),isToday:key===today,isOtherMonth:d.getMonth()!==cursor.getMonth(),items:vm.scheduleItems.filter(function(item){return item.date===key;})};
          });
        },
        activeRows: function () {
          var rows = this.config.page_kind === 'card-tabs' ? (this.activeCardTabSpec.rows || []) : (this.hasTableTabs ? (this.tableTabRows[this.activeTableTab] || []) : this.rows);
          var node = this.activeTreeNode || {};
          if (!(this.hasCardTree || this.hasTableTree) || !node.filter_key || !node.filter_value) return rows;
          return rows.filter(function (row) { return String(row[node.filter_key] || '') === String(node.filter_value); });
        },
        filteredRows: function () {
          var vm = this;
          var activeMetric = (this.config.summary_metrics || []).filter(function (item) {
            return item.key === vm.activeSummaryMetric;
          })[0] || {};
          return this.activeRows.filter(function (row) {
            var activeFilters = vm.isRealtimeFilter ? vm.filters : vm.appliedFilters;
            var matchesForm = Object.keys(activeFilters).every(function (key) { return vm.matchesRowFilter(row, key, activeFilters[key]); });
            var matchesMetric = !activeMetric.filter_key || !activeMetric.filter_value || String(row[activeMetric.filter_key] || '') === activeMetric.filter_value;
            return matchesForm && matchesMetric;
          });
        },
        pagedRows: function () { return this.filteredRows.slice((this.currentPage - 1) * this.pageSize, this.currentPage * this.pageSize); },
        rowTotal: function () {
          var metricFiltered = (this.config.summary_metrics || []).some(function (item) {
            return item.key === this.activeSummaryMetric && item.filter_key && item.filter_value;
          }, this);
          var hasAppliedFilters = Object.keys(this.appliedFilters || {}).some(function (key) { return this.appliedFilters[key]; }, this);
          return metricFiltered || hasAppliedFilters || (this.isRealtimeFilter && this.selectedRealtimeFilters.length) ? this.filteredRows.length : (this.config.page_kind === 'card-tabs' || this.hasTableTabs ? this.activeRows.length : (this.total || this.activeRows.length));
        },
        showTable: function () {
          return this.config.page_kind === 'table'
            || (this.config.page_kind === 'switch' && this.viewMode === 'table')
            || (this.config.page_kind === 'card' && this.hasCollectionToolbar && (this.config.columns || []).length > 0 && this.collectionToolbarView === 'list');
        },
        cardGridStyle: function () {
          var layout = this.activeCardTabSpec.layout || {};
          return { gridTemplateColumns: 'repeat(' + (layout.columns || 1) + ', minmax(0, 1fr))', gap: layout.collection_gap || '16px' };
        },
        knowledgeCardStyle: function () { return { height: (this.activeCardTabSpec.layout || {}).card_height }; },
        knowledgeHeaderStyle: function () {
          return { height: (this.activeCardTabSpec.layout || {}).header_height, padding: (this.activeCardProfile.header || {}).padding, borderBottom: '0' };
        },
        knowledgeBodyStyle: function () {
          return { height: (this.activeCardTabSpec.layout || {}).body_height, padding: (this.activeCardProfile.body || {}).padding };
        },
        comparisonMediaStyle: function () {
          var header = this.activeCardProfile.header || {};
          return { height: header.media_height, columnGap: header.media_column_gap, marginBottom: header.media_gap_after };
        },
        primaryTextStyle: function () { return { fontSize: (this.activeCardProfile.primary || {}).font_size, lineHeight: (this.activeCardProfile.primary || {}).line_height }; },
        textContentStyle: function () {
          var header = this.activeCardProfile.header || {};
          return { paddingLeft: header.content_inline_padding, paddingTop: header.content_block_top, justifyContent: 'flex-start' };
        },
        textTitleStyle: function () {
          var primary = this.activeCardProfile.primary || {};
          var header = this.activeCardProfile.header || {};
          return { fontSize: primary.font_size, lineHeight: primary.line_height, marginBottom: header.title_status_gap };
        },
        metadataRowStyle: function () {
          var body = this.activeCardProfile.body || {};
          return { lineHeight: body.row_line_height, '--card-meta-row-gap': body.row_gap };
        },
        metadataIconStyle: function () {
          var body = this.activeCardProfile.body || {};
          return { width: body.icon_size, height: body.icon_size, marginRight: body.icon_text_gap, fontSize: body.icon_size, lineHeight: body.icon_size };
        },
        metricContainerStyle: function () {
          var size = ((this.activeCardProfile.overlay || {}).container_size || '84px 32px').split(' ');
          return { width: size[0], height: size[1] };
        },
        metricValueStyle: function () {
          var metric = this.activeCardProfile.overlay || {};
          return { padding: metric.content_padding, fontSize: metric.font_size, lineHeight: metric.line_height };
        }
      },
      methods: {
        updateFrameworkCardTabsIndicator: function () {
          var tabs = (this.config.framework && this.config.framework.tabs) || [];
          var activeIndex = tabs.findIndex(function (tab) { return tab.id === this.activeFrameworkTab; }, this);
          var buttons = this.$refs.frameworkTabButtons || [];
          if (!Array.isArray(buttons)) buttons = [buttons];
          var activeButton = buttons[activeIndex];
          if (!activeButton) return;
          var activeButtonElement = activeButton.$el || activeButton;
          this.frameworkCardTabsIndicatorStyle = {
            width: activeButtonElement.offsetWidth + 'px',
            transform: 'translate3d(' + activeButtonElement.offsetLeft + 'px, 0, 0)'
          };
        },
        activateFrameworkTab: function (tab) {
          if (!tab || tab.disabled) return;
          this.activeFrameworkTab = tab.id;
          if (this.usesFrameworkTableTabs) {
            this.activeTableTab = tab.id;
            this.tableTabChanged();
          }
        },
        onFrameworkTabKeydown: function (event, index) {
          if (event.key !== 'ArrowLeft' && event.key !== 'ArrowRight') return;
          var tabs = (this.config.framework && this.config.framework.tabs) || [];
          var enabledTabs = tabs.filter(function (tab) { return !tab.disabled; });
          if (!enabledTabs.length) return;
          var currentTab = tabs[index];
          var currentIndex = enabledTabs.indexOf(currentTab);
          var direction = event.key === 'ArrowRight' ? 1 : -1;
          var nextTab = enabledTabs[(currentIndex + direction + enabledTabs.length) % enabledTabs.length];
          var nextIndex = tabs.indexOf(nextTab);
          var vm = this;
          event.preventDefault();
          this.activateFrameworkTab(nextTab);
          this.$nextTick(function () {
            var buttons = vm.$refs.frameworkTabButtons || [];
            if (!Array.isArray(buttons)) buttons = [buttons];
            var nextButton = buttons[nextIndex];
            var nextButtonElement = nextButton && (nextButton.$el || nextButton);
            if (nextButtonElement) nextButtonElement.focus();
          });
        },
        cardTagFlood: function (value) {
          var text = String(value || '');
          var semantics = this.config.card_status_tag_semantics || {};
          var mappings = semantics.mappings || [];
          for (var index = 0; index < mappings.length; index += 1) {
            if ((mappings[index].keywords || []).some(function (keyword) { return text.indexOf(keyword) !== -1; })) return mappings[index].flood;
          }
          return semantics.fallback_flood || 'orange';
        },
        loadPreviewFixtures: function () {
          var fixtures = cloneRuntimeValue(PREVIEW_FIXTURES);
          this.activeCardTab = this.config.card_tabs && this.config.card_tabs.length ? this.config.card_tabs[0].id : '';
          var configuredFrameworkTab=this.config.framework && this.config.framework.active_tab ? this.config.framework.active_tab : '';
          var configuredTableTabs=this.config.table_tabs || [];
          var frameworkTabIsTableTab=configuredTableTabs.some(function (tab) { return tab.id === configuredFrameworkTab; });
          this.activeTableTab = frameworkTabIsTableTab ? configuredFrameworkTab : (configuredTableTabs.length ? configuredTableTabs[0].id : '');
          this.activeTreeNode = this.findTreeNode(this.config.tree_nodes || [], this.config.default_tree_node) || {};
          this.activeDetailTab = this.config.detail_tabs && this.config.detail_tabs.length ? this.config.detail_tabs[0].id : '';
          this.activeFrameworkTab = configuredFrameworkTab;
          this.activeDetailSection = this.config.active_detail_section || ((this.config.detail_sections || [])[0] || {}).id || '';
          this.viewMode = this.config.default_view || (this.config.page_kind === 'card' ? 'card' : 'table');
          this.collectionToolbarView = this.config.page_kind === 'card' ? 'card' : 'list';
          this.schedulePresentation = this.config.default_schedule_presentation || 'table';
          this.scheduleView = this.config.default_schedule_view || 'month';
          this.scheduleCursor = (fixtures.scheduleItems && fixtures.scheduleItems[0] && fixtures.scheduleItems[0].date) || '2026-08-17';
          this.activeFormSection = ((this.config.form_sections || [])[0] || {}).id || '';
          this.activeFormTab = ((this.config.form_tabs || [])[0] || {}).id || '';
          this.activeIconMenu = this.config.framework && this.config.framework.variant_menu && this.config.framework.variant_menu.length ? this.config.framework.variant : (this.config.portal.active_icon_menu || '');
          this.expandedContextTreeNodeKeys = this.contextTreeDefaultExpandedKeys.slice();
          this.filters = {};
          var vm = this;
          (this.config.filters || []).forEach(function (field) { vm.$set(vm.filters, field.key, field.kind === 'input' ? (field.default || '') : (field.default || '全部')); });
          this.collectionToolbarAdvancedFilters = {};
          (this.config.filters || []).filter(function (field) { return field.key !== 'keyword'; }).forEach(function (field) { vm.$set(vm.collectionToolbarAdvancedFilters, field.key, field.default || ''); });
          this.pageSize = this.config.page_size || 20;
          this.expandedSideMenus = (this.config.portal.side_menus || []).filter(function (item) { return item.children && item.children.length; }).map(function (item) { return item.id; });
          Object.keys(fixtures).forEach(function (key) {
            if (key !== 'config' && Object.prototype.hasOwnProperty.call(vm.$data, key)) vm[key] = fixtures[key];
          });
          this.selectedDetailRow = this.rows.length ? this.rows[0] : {};
        },
        matchesCondition: function (condition) {
          return !condition || this.formModel[condition.key] === condition.equals;
        },
        isCredentialVisual: function (field) {
          return ['image', 'card', 'password', 'biometric'].indexOf(field.kind) !== -1;
        },
        formFieldSpan: function (field) {
          var columns = Number((this.config.pattern_parameters || {}).columns) || 3;
          return field.wide ? 24 : 24 / columns;
        },
        toggleSideMenu: function (id) {
          var index = this.expandedSideMenus.indexOf(id);
          if (index === -1) this.expandedSideMenus.push(id);
          else this.expandedSideMenus.splice(index, 1);
        },
        selectIconMenu: function (item) {
          this.activeIconMenu = item.id;
        },
        selectFrameworkVariant: function (item) {
          this.activeIconMenu = item.id;
          if (item.href && item.id !== this.config.framework.variant) window.location.href = item.href;
        },
        filterContextTree: function (value) { if (this.$refs.portalContextTree) this.$refs.portalContextTree.filter(value); },
        filterContextTreeNode: function (value, data) { return !value || String(data.label || '').indexOf(value) !== -1; },
        contextTreeNodeChanged: function (data) { if (data && data.id && this.$refs.portalContextTree) this.$refs.portalContextTree.setCurrentKey(data.id); },
        contextTreeNodeExpanded: function (data) { if (data && this.expandedContextTreeNodeKeys.indexOf(data.id) === -1) this.expandedContextTreeNodeKeys.push(data.id); },
        contextTreeNodeCollapsed: function (data) { var index=data ? this.expandedContextTreeNodeKeys.indexOf(data.id) : -1; if (index !== -1) this.expandedContextTreeNodeKeys.splice(index, 1); },
        navigateSideMenu: function (item) {
          if (item && item.href && item.id !== this.config.portal.active_side_menu) window.location.href = item.href;
        },
        appliesToActiveTableTab: function (item) {
          return !this.hasTableTabs || !(item.tabs || []).length || item.tabs.indexOf(this.activeTableTab) !== -1;
        },
        isRowSelectable: function (row) {
          var action=this.activeSelectionAction;
          if (!action) return false;
          return !action.selectable_key || row[action.selectable_key] !== false;
        },
        isRowStale: function (row, action) {
          return !!(action && action.stale_key && row[action.stale_key]);
        },
        statusTagFlood: function (column, value) {
          return (column.tone_map || {})[value] || column.default_tone || 'blue';
        },
        matchesRowFilter: function (row, key, value) {
          if (!value || value === '全部') return true;
          if (key === 'keyword') return Object.keys(row).some(function (rowKey) { return String(row[rowKey] || '').indexOf(value) !== -1; });
          if (Array.isArray(value)) {
            if (value.length < 2 || !value[0] || !value[1]) return true;
            var dates=String(row[key] || '').match(/\d{4}-\d{2}-\d{2}/g) || [];
            if (!dates.length) return false;
            var rowStart=new Date(dates[0]).getTime();
            var rowEnd=new Date(dates[dates.length-1]).getTime();
            var filterStart=new Date(value[0]).getTime();
            var filterEnd=new Date(value[1]).getTime();
            return rowEnd >= filterStart && rowStart <= filterEnd;
          }
          return String(row[key] || '').indexOf(value) !== -1;
        },
        queryRows: function () { this.appliedFilters = Object.assign({}, this.filters); this.currentPage = 1; },
        updateCollectionToolbarActions: function () {
          var vm=this;
          var actions=this.activeToolbarActions;
          if (!this.hasCollectionToolbar || !this.collectionToolbarUsesActions) {
            this.collectionToolbarVisibleActionCount=actions.length;
            return;
          }
          this.$nextTick(function () {
            var left=vm.$refs.collectionToolbarActions;
            var measure=vm.$refs.collectionToolbarActionMeasure;
            if (!left || !measure || !left.clientWidth) return;
            var actionNodes=Array.prototype.slice.call(measure.querySelectorAll('.isc-collection-toolbar__measure-action'));
            var moreNode=measure.querySelector('.isc-collection-toolbar__measure-more');
            var widths=actionNodes.map(function (node) { return node.offsetWidth; });
            var styles=window.getComputedStyle(measure);
            var gap=parseFloat(styles.columnGap || styles.gap) || 8;
            var fullWidth=widths.reduce(function (total,width) { return total+width; },0)+Math.max(0,widths.length-1)*gap;
            var visibleCount=widths.length;
            if (fullWidth>left.clientWidth) {
              var moreWidth=moreNode ? moreNode.offsetWidth : 72;
              var visibleWidth=0;
              visibleCount=0;
              for (var index=0;index<widths.length;index+=1) {
                var nextWidth=visibleWidth+(visibleCount ? gap : 0)+widths[index];
                if (nextWidth+gap+moreWidth>left.clientWidth) break;
                visibleWidth=nextWidth;
                visibleCount+=1;
              }
            }
            vm.collectionToolbarVisibleActionCount=visibleCount;
          });
        },
        queryCollectionToolbar: function () {
          var applied={};
          this.collectionToolbarAdvancedFields.map(function (field) { return field.key; }).forEach(function (key) {
            var value=this.collectionToolbarAdvancedFilters[key];
            if (value && value !== '全部') applied[key]=value;
          },this);
          if (this.collectionToolbarKeyword) applied.keyword=this.collectionToolbarKeyword;
          this.appliedFilters = applied;
          this.currentPage = 1;
        },
        resetCollectionToolbar: function () {
          this.collectionToolbarKeyword = '';
          this.collectionToolbarOrganization = '';
          this.collectionToolbarEffectiveDate = '';
          var vm=this;
          Object.keys(this.collectionToolbarAdvancedFilters).forEach(function (key) { vm.$set(vm.collectionToolbarAdvancedFilters,key,''); });
          this.appliedFilters = {};
          this.currentPage = 1;
        },
        selectSummaryMetric: function (item) {
          this.activeSummaryMetric = this.activeSummaryMetric === item.key ? '' : item.key;
          this.currentPage = 1;
        },
        selectDetailRow: function (row) { this.selectedDetailRow = row; },
        detailFieldValue: function (key) { var value = this.selectedDetailRow[key]; return value === undefined || value === null || value === '' ? '—' : value; },
        cardTabChanged: function () { this.currentPage = 1; },
        tableTabChanged: function () {
          this.currentPage = 1;
          this.selectedRows = [];
          this.appliedFilters = {};
          this.collectionToolbarKeyword = '';
          this.fieldToConfigure = '';
          var vm=this;
          this.$nextTick(function () {
            if (vm.$refs.collectionTable) vm.$refs.collectionTable.clearSelection();
            vm.collectionToolbarVisibleActionCount = vm.activeToolbarActions.length;
            vm.updateCollectionToolbarActions();
          });
        },
        openFieldEditor: function (field, index) {
          this.fieldEditorMode = field ? 'edit' : 'add';
          this.fieldEditorIndex = field ? index : -1;
          this.fieldDraft = field ? cloneRuntimeValue(field) : { name: '', key: '', type: '文本' };
          this.fieldEditorVisible = true;
        },
        fieldLibraryAction: function (action, field, index) {
          if (action.id === 'edit') this.openFieldEditor(field, index);
          if (action.id === 'delete') this.deleteFieldDefinition(field, index);
        },
        saveFieldDefinition: function () {
          var name=String(this.fieldDraft.name || '').trim();
          var key=String(this.fieldDraft.key || '').trim();
          if (!name || !key) { this.$message.warning('请填写字段名称和字段标识'); return; }
          var duplicate=this.activeFieldLibrary.some(function (field, index) { return field.key === key && index !== this.fieldEditorIndex; },this);
          if (duplicate) { this.$message.warning('字段标识已存在'); return; }
          var saved={ id: this.fieldDraft.id || (this.activeTableTab + '-' + key), name: name, key: key, type: this.fieldDraft.type || '文本' };
          if (this.fieldEditorMode === 'edit') {
            this.$set(this.activeFieldLibrary, this.fieldEditorIndex, saved);
            this.activeConfiguredFields.forEach(function (configured, index) {
              if (configured.id === saved.id) this.$set(this.activeConfiguredFields, index, Object.assign({}, configured, saved));
            },this);
          } else this.activeFieldLibrary.push(saved);
          this.fieldEditorVisible = false;
          this.$message.success(this.fieldEditorMode === 'edit' ? '字段已更新' : '字段已添加');
        },
        deleteFieldDefinition: function (field, index) {
          var vm=this;
          this.$confirm('删除字段“' + field.name + '”后，已配置列表中的同名字段也会移除。', '确认删除', { type: 'warning' }).then(function () {
            vm.activeFieldLibrary.splice(index, 1);
            for (var configuredIndex=vm.activeConfiguredFields.length-1; configuredIndex>=0; configuredIndex-=1) {
              if (vm.activeConfiguredFields[configuredIndex].id === field.id) vm.activeConfiguredFields.splice(configuredIndex, 1);
            }
            vm.$message.success('字段已删除');
          }).catch(function () {});
        },
        openConfiguredFieldDialog: function () {
          this.fieldToConfigure = (this.availableFieldsForConfiguration[0] || {}).id || '';
          this.fieldPickerVisible = true;
        },
        addConfiguredField: function () {
          var field=this.activeFieldLibrary.filter(function (item) { return item.id === this.fieldToConfigure; },this)[0];
          if (!field) return;
          this.activeConfiguredFields.push(Object.assign({}, cloneRuntimeValue(field), {
            source: '自定义字段', required: '否', order: this.activeConfiguredFields.length + 1
          }));
          this.fieldPickerVisible = false;
          this.fieldToConfigure = '';
          this.$message.success('字段已加入当前配置');
        },
        fieldConfigurationToolbarAction: function (action) {
          if (action.id === 'capture-device-parameters') this.$message.info('已打开采集设备参数配置');
          else this.$message.success('已执行：' + action.label);
        },
        frameworkGlobalActionIcon: function (label) {
          var action=(this.config.toolbar_actions || []).filter(function (item) { return item.label === label; })[0];
          return action ? action.icon : '';
        },
        frameworkGlobalAction: function (label) {
          var action=(this.config.toolbar_actions || []).filter(function (item) { return item.label === label; })[0];
          if (action && this.hasFieldConfiguration) this.fieldConfigurationToolbarAction(action);
          else this.$message.success('已执行：' + label);
        },
        findTreeNode: function (nodes, id) {
          for (var index=0; index<nodes.length; index+=1) {
            if (nodes[index].id === id) return nodes[index];
            var child = this.findTreeNode(nodes[index].children || [], id);
            if (child) return child;
          }
          return null;
        },
        filterCardTreeNode: function (value, data) { return !value || String(data.label || '').toLowerCase().indexOf(String(value).toLowerCase()) !== -1; },
        treeKeywordChanged: function (value) { if (this.$refs.cardTree) this.$refs.cardTree.filter(value); },
        cardTreeNodeChanged: function (data) { this.activeTreeNode = data || {}; this.currentPage = 1; },
        cardFieldsByRole: function (role) { return (this.config.card_fields || []).filter(function (field) { return field.role === role; }); },
        selectRealtimeFilter: function (field, option) { this.$set(this.filters, field.key, option); this.currentPage = 1; },
        realtimeFilterChanged: function () { this.currentPage = 1; },
        clearRealtimeFilter: function (key) {
          var field = (this.config.filters || []).filter(function (item) { return item.key === key; })[0] || {};
          this.$set(this.filters, key, field.kind === 'input' ? '' : '全部');
          this.currentPage = 1;
        },
        clearRealtimeFilters: function () { this.resetFilters(); },
        resetFilters: function () {
          this.filters = cloneRuntimeValue(PREVIEW_FIXTURES.filters || {});
          if (!Object.keys(this.filters).length) {
            var vm=this;
            (this.config.filters||[]).forEach(function(field){ vm.$set(vm.filters,field.key,field.kind==='input'?(field.default||''):(field.default||'全部')); });
          }
          this.appliedFilters={}; this.currentPage=1;
        },
        resetForm: function () { this.formModel = cloneRuntimeValue(PREVIEW_FIXTURES.formModel || {}); },
        previousFormSection: function () {
          var sections = this.formSections;
          var index = sections.map(function (section) { return section.id; }).indexOf(this.activeFormSection);
          if (index > 0) this.activeFormSection = sections[index - 1].id;
        },
        selectFormStep: function (index) {
          if (this.formSections[index]) this.activeFormSection = this.formSections[index].id;
        },
        nextFormSection: function () {
          var sections = this.formSections;
          var index = sections.map(function (section) { return section.id; }).indexOf(this.activeFormSection);
          if (index < sections.length - 1) this.activeFormSection = sections[index + 1].id;
          else this.saveForm();
        },
        saveForm: function () { this.$message.success('设备权限配置已保存'); },
        formAction: function (action) {
          if (action === '取消') {
            if (this.config.form_return_href) window.location.href = this.config.form_return_href;
            else this.resetForm();
            return;
          }
          if (action === '操作并继续配置') {
            var tabs = this.config.form_tabs || [];
            var currentIndex = tabs.map(function (item) { return item.id; }).indexOf(this.activeFormTab);
            if (tabs[currentIndex + 1]) this.activeFormTab = tabs[currentIndex + 1].id;
            this.$message.success('基础信息已保存，可继续配置');
            return;
          }
          this.$message.success('已执行：' + action);
          if (this.config.form_return_href) window.location.href = this.config.form_return_href;
        },
        toolbarAction: function (action) {
          if (action && action.href) window.location.href = action.href;
          if (action && action.href) return;
          if (action && action.requires_selection) {
            if (!this.selectedRows.length) {
              this.$message.warning('请先选择可审批的申请记录');
              return;
            }
            var invalidRows=this.selectedRows.filter(function (row) {
              return !this.isRowSelectable(row) || this.isRowStale(row, action);
            },this);
            if (invalidRows.length) {
              this.$message.warning(action.stale_message || '列表状态已发生变化，请刷新后重试');
              return;
            }
          }
          if (action && action.confirm) {
            var vm=this;
            var message=String(action.confirm.message || '').replace('{count}', this.selectedRows.length);
            this.$confirm(message, action.confirm.title || '确认操作', {
              type: action.confirm.type || 'warning',
              confirmButtonText: action.confirm.confirm_button_text || '确定',
              cancelButtonText: action.confirm.cancel_button_text || '取消'
            }).then(function () { vm.completeToolbarAction(action); }).catch(function () {});
            return;
          }
          this.completeToolbarAction(action);
        },
        completeToolbarAction: function (action) {
          var successMessage=action.success_message || ('已执行：' + (action.label || action));
          this.$message.success(String(successMessage).replace('{count}', this.selectedRows.length));
          this.selectedRows = [];
          if (this.$refs.collectionTable) this.$refs.collectionTable.clearSelection();
        },
        moveSchedule: function (direction) {
          var d=new Date(this.scheduleCursor+'T00:00:00');
          if(this.scheduleView==='day') d.setDate(d.getDate()+direction);
          else if(this.scheduleView==='week') d.setDate(d.getDate()+direction*7);
          else d.setMonth(d.getMonth()+direction);
          this.scheduleCursor=d.getFullYear()+'-'+String(d.getMonth()+1).padStart(2,'0')+'-'+String(d.getDate()).padStart(2,'0');
        },
        rowAction: function (action, row) {
          if (action && action.id === 'details') {
            this.openDetail(row);
            if (!this.config.row_detail_href && !this.hasTableDetailsPane && !this.hasDetailDrawer) this.$message.info((action.label || '查看') + '：' + (row.applicationNo || row.name || row.title || row.id));
            return;
          }
          if (action && action.requires_eligible && (!this.isRowSelectable(row) || this.isRowStale(row, this.activeSelectionAction))) {
            this.$message.warning((this.activeSelectionAction || {}).stale_message || '该申请状态已变化，请刷新后重试');
            return;
          }
          this.$message.success('已执行：' + (action.label || action.id) + '（' + (row.applicationNo || row.name || row.title || row.id) + '）');
        },
        mediaAction: function (label) { this.$message.info('图片操作：' + label); },
        openDetail: function (row) {
          if (this.config.row_detail_href) {
            window.location.href = this.config.row_detail_href + '?id=' + encodeURIComponent(row.id);
            return;
          }
          if (this.hasDetailDrawer) {
            this.selectDetailRow(row);
            this.detailDrawerVisible = true;
            return;
          }
          if (this.detailPaneVisible && this.selectedDetailRow && this.selectedDetailRow.id === row.id) {
            this.detailPaneVisible = false;
            return;
          }
          this.selectDetailRow(row);
          this.detailPaneVisible = true;
        },
        openPreview: function (row) { this.$message.info('预览抓拍记录：' + (row.captureCode || row.deviceCode)); }
      }
    });
  </script>
</body>
</html>
